<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Prime Number Generator</title>
</head>

<body>
    <h2 id="title">Look for prime numbers in a specific range</h2>
    <div id="form">
        <form method="get" th:action="@{/prime}">
            <label for="bound">Boundary: </label>
            <input id="bound" name="bound" type="number" min="2" required>
            <button type="submit">Calculate</button>
        </form>
    </div>
    <div th:if="${visible}" id="results">
        <h3 th:text="'Results for boundary ' + ${bound} + ':'"></h3>
        <span th:each="prime, iterStat : ${primeNumbers}"
            th:text="!${iterStat.last} ? ${prime} + ', ' : ${prime}"></span>
    </div>
</body>